header {
    background-color:#8B0000;
    font-family: Helvetica;
    padding:5px;    
    opacity: 0.9; 
}
nav {
    background-color:#eeeeee;   
    font-family: Helvetica;
    padding:7px;   
    opacity: 0.9;  
}
body{  
    background-image: url("Images/background.jpg");    
}
section{
    font-family: Helvetica;
    padding:10px;  
    background-color:white;
    opacity: 0.8; 
    width: 300px;
    margin-left: auto ;
    margin-right: auto ;
}

} 
footer {
    background-color:black;
    font-family: Helvetica;
    color:white;
    clear:both;
    text-align:center;  
    position:absolute;
   bottom:17px;
   width:100%;   
}
a:link {
    color:black;
    background-color:#eeeeee;
    text-decoration:none;
    padding:10px;
    padding-right:50px;
    padding-left:50px;
}
a:visited {
    text-decoration:none;
}
a:hover {
    background-color:lightgray;
}
p{
    padding-left: 50px;
}